.biz_theme_snazzy_homepage_five_banner_two{

    .s_carousel_wrapper{
        .carousel-indicators{
            @include media-breakpoint-down(sm) {
                visibility: hidden;
            }
            justify-content: start;
            margin: auto !important;
            padding-bottom: 24px;
            padding-top: 24px;
            padding-left: 7px;
        }
        .carousel-indicators button {
            border-radius: 50%;
            width: 0 !important;
            height: 0 !important;
            padding: 3px;
            position: relative;
            margin: 0 15px;
            background-color: transparent;
            opacity: 1;
        }
        .carousel-indicators button:after {
            border-radius: 50%;
            padding: 6px;
            border: 2px solid #1b1b1b;
            position: absolute;
            content: "";
            top: -7px;
            left: -7px;
            bottom: -7px;
            right: -7px;
        }
        .carousel-indicators button.active {
            background-color: #1b1b1b;
        }
        .carousel-control-prev,
        .carousel-control-next{
            visibility: hidden;
        }
        .carousel-inner{
            .carousel-item{
                background-position: center;
                @include media-breakpoint-down(sm) {
                    background-position: top right !important;
                }
                .row_div{
                    @include media-breakpoint-down(sm) {
                        align-items: flex-end !important;
                    }
                    .carousel-content{
                        .heading_content_one{
                            font-size: 48px;
                            font-weight: 400;
                            // line-height: 1;
                            color: #ca6d6f;
                            @include media-breakpoint-down(lg) {
                                font-size: 24px;
                            }
                        }
                        .heading_content_two{
                            font-size: 64px;
                            font-weight: 400;
                            // line-height: 1;
                            color: #121216;
                            @include media-breakpoint-down(lg) {
                                font-size: 30px;
                            }
                        }
                        .text_content_one{
                            font-size: 20px;
                            font-weight: 400;
                            // line-height: 1;
                            color: #646464;
                            @include media-breakpoint-down(lg) {
                                font-size: 14px;
                            }
                        }
                        a.btn{
                            @include media-breakpoint-down(lg) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// .biz_theme_snazzy_homepage_five_banner{
//     .text_hot_deal{
//         font-weight: 700;
//         font-size: 64px;
//     }
//     .s_countdown {
//         .s_countdown_canvas_wrapper{
//             justify-content: left !important;
//             // margin-left: -45px;
//         }
//     }
// }


.biz_theme_snazzy_homepage_five_two_block_section_one{
    .column_reverse_lg_down{
        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .data_wrapper{
        padding: 64px;
        // padding-left: 64px;
        // padding-right: 64px;
        @include media-breakpoint-down(lg) {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }
    }
    
}

.biz_theme_snazzy_homepage_five_six_block_img{
    .row_div{
        --gutter-x: 16px !important;
        --gutter-y: 16px !important;
        .data_wrapper_one{
            position: relative;
            .data_wrapper_two{
                position: absolute;
                top: 30px;
                left: 30px;
                a{
                    transition: 0.5s;
                    font-weight: 500;
                    border-bottom: 1px solid transparent;
                }
            }
            &:hover{
                .data_wrapper_two{
                    a{
                        transition: 0.5s;
                        border-bottom: 1px solid black;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
    }
}

.biz_theme_snazzy_homepage_five_two_block_img{
    .block-hover-effect{
       overflow: hidden;
    .img{
        transition: all 300ms linear;
        &:hover{
        transform: scale(1.1);}
    }}
}

.biz_theme_snazzy_homepage_five_testimonial{
    .s_carousel_rounded {
        .carousel-control-prev-icon:before {
            font-family: 'remixicon' !important;
            content: "\ea62" !important;
            font-size: 14px;
            font-weight: bold;
        }
        .carousel-control-next-icon:before {
            font-family: 'remixicon' !important;
            content: "\ea6c" !important;
            font-size: 14px;
            font-weight: bold;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            color: #121212;
            &::before {
                width: 3rem !important;
                height: 3rem !important;
                line-height: 3rem !important;
                border-radius: 100%;
                transition: 0.3s;
                background: #ffff;
                display: block;
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            &:hover::before {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                border-radius: 50%;
            }
        }
    }
    .img{
        min-width: 50px;
    }
    .carousel-indicators{
        button{
            background-color: $secondary;
            border: 1px solid $secondary;
            opacity: 1;
            height: 4px !important;
            width: 4px !important;
            margin-right: 10px;
        }
        button.active{
            background-color: transparent;
            border: 1px solid $secondary;
            opacity: 1;
            height: 6px !important;
            width: 6px !important;
        }
    }
}


// .biz_theme_snazzy_homepage_five_new_spring_collection{

//     .game_controller_img_position{
//         position: absolute;
//         top: -350px;
//     }

//     i{
//         font-size: 19px;
//         width: 30px !important;
//         height: 30px !important;
//         line-height: 30px !important;
//     }

//     .icon_and_text{
//         .text_content{
//             font-weight: 700;
//         }
//     }

//     .title_name{
//         font-weight: 600;
//     }

//     @include media-breakpoint-between(md, xl) {
//         .game_controller_img_position{
//             top: -320px;
//         }
//     }

//     @include media-breakpoint-down(xl) {
//         .text_content{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//         } 

//         .game_controller_img_position{
//             left: 50%;
//             transform: translateX(-50%);
//         }
//     }
    
//     @include media-breakpoint-down(sm) {
//         padding-top: 130px !important;
//         .game_controller_img_position{
//             top: -170px;
//         }
//         .custom_padding{
//             padding-top: 64px !important;
//         }
//     }
// }